<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">To Do</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <h1 class="text-center">{{title}}</h1>

  <!-- <app-to-dos></app-to-dos> -->
  <router-outlet></router-outlet>

  <br>
  <p>People are not born equal, a realization that four-year-old Izuku Midoriya faced when bullied by his classmates who
    had unique special powers. Izuku was one of the rare cases where he was born with absolutely no unique powers. This
    did not stop Izuku from pursuing his dream, a dream of becoming a great hero like the legendary All Might. To become
    the great hero he hopelessly wants to become, he will now join the ranks of one of the highest rated "Hero
    Academies" in the country: U.A. High School. With the help of his idol All Might, will he be able to claim the ranks
    and become a true hero?</p>

  <p>My Hero Academia is set in a world where about 80% of the human population has gained superpowers called "Quirks"
    (個性, Kosei). Quirks vary widely and can be inherited. Among the Quirk-enhanced individuals, a few of them earn the
    title of Heroes, who cooperate with authorities in rescue operations and apprehending criminals who abuse their
    Quirks, commonly known as Villains. In addition, Heroes who excel on their duties gain celebrity status and are
    recognized as "Pro Heroes" (プロヒーロー, Puro Hīrō). Heroes are ranked in popularity, with higher ranking heroes
    receiving public appeal, although it is not uncommon for rookie heroes to gain popularity as well.</p>

  <p>Initially the people who volunteered to do their heroic duties without permission were recognized as "Vigilantes"
    (ヴィジランテ, Vijirante). Students who have acted as vigilantes are not allowed to work as heroes due to Quirk
    restriction laws managed by the Hero Public Safety Commission (ヒーロー公安委員会, Hīrō Kōan Iinkai). While the act of
    vigilantism is inherently illegal, the vigilantes themselves represent a gray area. The Hero Public Safety
    Commission originally enlisted vigilantes to do their dirty work until they became too organized for the vigilantes
    to properly deal with, so they abandoned the idea and instead focused on recruiting Pro Heroes. Some vigilantes wear
    costumes, but since they do not have access to support companies like heroes do, they are made out of regular
    clothes and everyday items.</p>

  <p>There are two types of internships that offer the opportunity to become a Pro Hero. The first type is the Hero
    Agency Internships in which the Pro Heroes can send a request to students whom wish to work under them, such as in
    the aftermath of the Sports Festival. It involves a student shadowing a Pro Hero, listening to their advice, and
    watching them in action for a week. Since the students are unlicensed, they cannot legally work as heroes. The
    second type is the Hero Work-Study, where, after a student acquires a Hero License after passing the Provisional
    Hero License Exam, they are treated as real sidekicks, which allows them to participate in relief efforts during
    emergency situations. This also allows them to gain experience and can help them get noticed by other Pro Heroes who
    might hire them as full-time sidekicks once they graduate.</p>

</div>